*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 0.14rem;
    font-family: -apple-system,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    max-width: 750px;
    background: url(../../../static/images/bg@2x.png) no-repeat;
    background-size:100% 100%;
    overflow: hidden;
}

#app{
    position: relative;
    width: 100%;
    max-width: 750px;
    height: 100%;
    overflow: hidden;
}

.proname{
    position: absolute;
    left: 0;
    top:0;
    display: block;
    width:100%;
    height: 0.45rem;
    color: #fff;
    font-size:0.18rem;
    flex: 1;
    text-align: center;
    line-height: 0.45rem;
}
.pro_det{
    position:absolute;
    right:0;
    top: 0;
    color: #fff;
    text-decoration: none;
    display: block;
    height: 0.45rem;
    line-height:0.45rem;
    z-index:2;
}

.charge_content{
    width: 90%;
    height: 88%;
    border-radius:0.05rem;
    margin:0.21rem auto 0;
    overflow: hidden;
    .charge_nav{
        position: relative;
        width: 100%;
        height: 0.3rem;
        margin-bottom: 0.3rem;
        .goback{
            position: absolute;
            left: 0;
            top: 0.07rem;
            display: block;
            width: 0.16rem;
            height: 0.16rem;
            background: url(../../../static/images/leftarrow_2f.png) no-repeat;
            background-size: auto 0.16rem;
            z-index: 11;
        }
        span{
            width: 100%;
            display: block;
            height: 0.3rem;
            line-height: 0.3rem;
            text-align: center;
            font-size: 0.18rem;
            color: #fff;
        }
        .charge_pro{
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            height: 0.3rem;
            line-height: 0.3rem;
            color: #fff;
            font-size: 0.14rem;
            text-decoration: none;
        }
    }
    .quota{
        padding:0.4rem 0 0.25rem;
        background-color: #fff;
        .qu_h6{
            color: #9B9B9B;
            font-weight: normal;
            text-align: center;
            font-size:0.13rem;
        }
        .qu_h3{
            color:#4a4a4a;
            font-weight: normal;
            text-align: center;
            font-size: 0.4rem;
            font-family: PingFangSC-Medium;
            margin-bottom: 0.22rem;
        }
        .qu_list{
            display: flex;
            width: 90%;
            margin: 0 auto;
            &>div{
                flex: 1;
                text-align: center;
                span{
                    color: #9B9B9B;
                    font-size: 0.13rem;
                }
                p{
                    font-size: 0.16rem;
                    color: #9B9B9B;
                    font-family: PingFangSC-Medium;
                    margin-top:0.05rem;
                    font-weight: bold;
                }
            }
        }
    }

    .quota_line{
        width: 100%;
        display: block;
    }

    .charge_agree{
        padding: 0.3rem 0;
        background-color: #fff;
        height: 100%;
        font-size:0.12rem;
        .protocol{
            position: relative;
            color: #ccc;
            margin-bottom: 0.2rem;
            padding-left:0.4rem;
            outline: none;
            font-style: normal;
            display: inline-block;
            font-size: 0.12rem;
            &::before{
                position: absolute;
                left: 0.25rem;
                top: 0.04rem;
                content: '';
                clear: both;
                display: block;
                width: 0.12rem;
                height: 0.12rem;
                background: url(../../module/charge/images/icon_round_unchecked@2x.png);
                background-size: 100% 100%;
            }
        }
        a.a_protocol{
            font-size: 0.12rem;
            color: #4a4a4a;
            text-decoration: none;
        }
        .agree{
            position: relative;
            &::before{
                position: absolute;
                left: 0.25rem;
                top: 0.04rem;
                content: '';
                clear: both;
                display: block;
                width: 0.12rem;
                height: 0.12rem;
                background: url(../../module/charge/images/icon_round@2x.png);
                background-size: 100% 100%;
            }
        }
        .agree_btn_set{
            text-align: center;
            margin-bottom:0.2rem;
            padding: 0 0.25rem;
            a{
                width: 100%;
                height: 0.44rem;
                border-radius: 5px;
                display: inline-block;
                text-decoration: none;
                line-height: 0.44rem;
                text-align: center;
                &.a_btn2{
                    background: #FF7F26;
                    color: #FFF0E5;
                }
                &.unclick{
                    background-color: #9B9B9B;
                }
            }
        }
        .small_txt{
            margin:0 0.25rem;
            color: #9B9B9B;;
            letter-spacing: 1px;
            font-size: 0.12rem;
            p{
                font-size: 0.12rem;
                line-height: 0.2rem;
                margin-bottom: 0.06rem;
                strong{
                    font-size: 0.12rem;
                    color: #393939;
                    font-weight: normal;
                }
            }
        }
    }
}


.moveTo{
    bottom: 0.2rem;
}

.result{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    z-index:100;
    .loan_result{
        width: 100%;
        height: 0.45rem;
        line-height: 0.45rem;
        text-align: center;
        color: #000117;
        font-size: 0.18rem;
        border-bottom:1px solid #eee;
        margin-bottom: 0.42rem;
    }
    img{
        width: 0.9rem;
    }
    h2{
        color: #000117;
        font-size: 0.2rem;
        font-weight: normal;
        margin-top: 0.2rem;
    }
    h5{
        color: #9B9B9B;
        font-weight: normal;
        margin: 0.06rem 0 0.6rem;
    }
    .success{
        margin-top: 0.5rem;
        .detail{
            border-top: 0.01rem solid #eeeeee;
            border-bottom: 0.01rem solid #eeeeee;
            margin: 0 0.3rem;
            padding: 0.15rem 0;
            overflow: hidden;
            h4{
                font-weight: normal;
                font-size: 0.12rem;
                font-family: 'PingFangSC-Light';
                float: left;
            }
            .process{
                float: right;
                .iconText{
                    float: right;
                    text-align: left;
                    span{
                        display: block;
                        font-size: 0.12rem;
                        font-family: 'PingFangSC-Light';
                        margin-bottom: 0.22rem;
                        color: #9B9B9B;
                    }
                    h6{
                        font-size: 0.12rem;
                        font-family: 'PingFangSC-Medium';
                        color: #4a4a4a;
                    }
                }
                .iconLine{
                    width: 0.2rem;
                    float: right;
                    position: relative;
                    margin-right: 0.2rem;
                    em{
                        display: block;
                        width: 0.12rem;
                        height: 0.12rem;
                        border-radius: 50%;
                        background: #FF7F26;
                        position: absolute;
                        top: 0.02rem;
                        left: 0.04rem;
                    }
                    strong{
                        display: block;
                        width: 0.02rem;
                        height: 0.3rem;
                        background: #FF7F26;
                        position: absolute;
                        top: 0.14rem;
                        left: 0.09rem;
                    }
                    img{
                        display: block;
                        width: 0.2rem;
                        height: 0.2rem;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 0.44rem;
                    }
                    i{
                        display: block;
                        width: 0.02rem;
                        height: 0.3rem;
                        background: #cccccc;
                        position: absolute;
                        top: 0.64rem;
                        left: 0.09rem;
                    }
                    span{
                        display: block;
                        width: 0.12rem;
                        height: 0.12rem;
                        background: #cccccc;
                        position: absolute;
                        top: 0.94rem;
                        left: 0.04rem;
                        border-radius: 50%;
                    }
                }
            }
        }
        ul{
            list-style: none;
            padding: 0 0.3rem;
            li{
                height: 0.2rem;
                line-height: 0.2rem;
                padding: 0.17rem 0;
                span{
                    font-family: 'PingFangSC-Light';
                    font-size: 0.12rem;
                    color: #9B9B9B;
                    float: left;
                }
                em{
                    float: right;
                    font-family: 'PingFangSC-Light';
                    font-size: 0.12rem;
                    color: #9B9B9B;
                    font-style: normal;
                }
            }
        }
    }
    .small-btn{
        margin-top: 0.5rem;
        a{
            display: inline-block;
            width: 1.48rem;
            height: 0.44rem;
            border: 1px solid #9B9B9B;
            border-radius: 4px;
            font-size: 16px;
            text-align: center;
            line-height: 0.44rem;
            text-decoration: none;
            margin:0 0.05rem;
            &.r-btn1{
                color: #9B9B9B;
            }
            &.r-btn2{
                color: #FFFFFF;
                background-color: #FF7F26;
                border:1px solid #FF7F26;
            }
        }
    }
}
.loan_mask{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000117;
    opacity: 0.75;
    filter: alpha(opacity=75);
    z-index: 100;
}
.go_combox{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 2.96rem;
    height: 1.6rem;
    margin-left: -1.48rem;
    margin-top: -0.8rem;
    background-color: #fff;
    border-radius:0.04rem;
    z-index: 101;
    padding-top:0.3rem;
    h3{
        color:#000118;
        font-size: 0.18rem;
        text-align: center;
        margin-bottom:0.08rem;
    }
    .loan_small{
        color: #4a4a4a;
        text-align: center;
        font-size: 0.12rem;
        margin-bottom: 0.18rem;
        &>span{
            color: #FF7F26;
        }
    }
    .loan_set{
        overflow: hidden;
        border-top: 1px solid #ddd;
        a {
            display: block;
            width: 50%;
            float: left;
            text-align: center;
            height: 0.6rem;
            line-height: 0.6rem;
            color: #909090;
            font-size: 0.18rem;
            text-decoration: none;
            &.loankv{
                color: #FF7F26;
                font-weight: bold;
            }
        }
    }
}
.loan_small_txt{
    color: #9b9b9b;
    font-size:0.14rem;
    margin-top: 0.06rem;
    line-height: 0.2rem;
    p {
        span {
            color:#FF7F26;
        }
    }
}

