#app{
    background: transparent;
    padding-bottom: 0.2rem;
}
ul,ol{
    margin: 0 0.2rem;
    background: #ffffff;
    list-style: none;
    li{
        margin: 0 0.2rem;
        height: 0.5rem;
        line-height: 0.5rem;
        border-bottom: 0.01rem solid #F0F0F0;
        a{
            text-decoration: none;
            display: block;
            span{
                font-size: 0.14rem;
                font-family: 'PingFangSC-Light';
                color: #000117;
            }
            em{
                float: right;
                font-size: 0.14rem;
                font-family: 'PingFangSC-Medium';
                font-style: normal;
                color: #a4a4a4;
            }
            img{
                display: block;
                height: 0.2rem;
                margin-top: 0.15rem;
                float: right;
                margin-left: 0.1rem;
            }
        }
    }
    li:last-child{
        border-bottom: none;
    }
}

ol{
    margin-top: 0.2rem;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,1,23,0.2);
    // display: none;
    &>div{
        width: 2.8rem;
        padding-top: 0.2rem;
        border-radius: 0.1rem;
        background: #ffffff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        h2{
            // height: 0.25rem;
            line-height: 0.25rem;
            text-align: center;
            color: #000118;
            font-family:PingFangSC-Light;
            font-size:0.18rem;
            font-weight: normal;
            padding: 0.3rem 0.5rem 0.25rem;
            border-bottom: 0.01rem solid #dddddd;
        }
        .btn{
            height: 0.55rem;
            line-height: 0.55rem;
            button{
                width: 50%;
                height: 100%;
                float: left;
                text-align: center;
                font-size: 0.16rem;
                font-family: PingFangSC-Light;
                border: none;
                background: transparent;
                outline: none;
                &.cancelBtn{
                    color: #9b9b9b;
                }
                &.sureBtn{
                    color: #FF7F26;
                }
            }
        }
    }
}