.scrollText{
    font-family: PingFangSC-Light;
    font-size: 12px;
    color: #9B9B9B;
    height: 0.3rem;
    line-height: 0.3rem;
    padding: 0 0.2rem;
    font-weight: normal;
    background-color: #fff;
    margin-bottom: 0.1rem;
    white-space: nowrap;
}
.repay{
    width: 100%;
    background-color: #fff;
    .select-bank{
        padding: 0.13rem 0.2rem;
        border-bottom: 1px solid #eee;
        overflow: hidden;
        .bankIcon{
            width: 0.24rem;
            height: 0.24rem;
            display: block;
            float: left;
            margin-right: 0.1rem;
        }
        .bankName{
            font-family: PingFangSC-Light;
            font-size: 0.18rem;
            color: #000117;
            display: block;
            height: 0.24rem;
            line-height: 0.24rem;
            float: left;
            margin-right: 0.1rem;
            i{
                font-size: 0.18rem;
                font-style: normal;
                padding: 0 0.1rem;
            }
        }
        .bankSmall{
            font-family: PingFangSC-Light;
            font-size: 0.16rem;
            color: #909090;
            display: block;
            height: 0.24rem;
            line-height: 0.24rem;
            float: left;
        }
    }
    .bank-money{
        height: 1.04rem;
        line-height: 1.04rem;
        font-family: PingFangSC-Light;
        font-size: 0.36rem;
        color: #000118;
        padding: 0 0.2rem;
        span{
            font-family: PingFangSC-Light;
            font-size: 0.16rem;
            color: #222336;
            display: block;
            float: left;
            margin-right: 0.1rem;
        }
    }
    .bank-ts{
        font-family: PingFangSC-Light;
        font-size: 0.14rem;
        color: #000117;
        padding:0 0.2rem;
        height: 0.4rem;
        line-height: 0.4rem;
        background-color: #fff;
        border-top:1px solid #eee;
        i{
            color: #FF7F26;
            font-style: normal;
        }
    }
}
.next-btn{
    width: 75%;
    height: 0.5rem;
    background-color: #FF7F26;
    color: #fff;
    font-size: 0.2rem;
    border-radius:0.05rem;
    outline: none;
    border: 0;
    margin: 0.5rem auto 0;
    display: block;
}
.right-arrow{
    width: 0.16rem;
    height: 0.16rem;
    display: block;
    float: right;
    background: url(../../../static/images/rightarrow_1f.png) no-repeat;
    background-size: contain;
    margin-top: 0.04rem; 
}
.bank-mask{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    z-index: 1000;
}
.bank-slt{
    width: 100%;
    position: absolute;
    bottom: -4rem;
    left: 0;
    z-index: 1001;
    height: 4rem;
    background-color: #f9f9f9;
    transition: 0.3s;
    .bank-nav{
        width: 100%;
        height: 0.48rem;
        background-color: #f9f9f9;
        font-family: PingFangSC-Light;
        font-size: 0.2rem;
        color: #000118;
        line-height: 0.48rem;
        text-align: center;
        font-weight: normal;
        overflow: hidden;
        border-bottom: 1px solid #ddd;
        .close-btn{
            width: 0.18rem;
            height: 0.18rem;
            display: block;
            background: url(../../../static/images/close.png) no-repeat;
            background-size: contain;
            float: right;
            margin-top: 0.16rem;
            margin-right: 0.2rem;
        }
    }
    ul {
        height: 3.52rem;
        overflow-y: scroll;
        li{
            background-color: #fff;
            padding: 0.12rem 0.2rem;
            overflow: hidden;
            border-bottom: 1px solid #ddd;
            .bankImg{
                width: 0.3rem;
                height: 0.3rem;
                display: block;
                float: left;
                margin-right: 0.1rem;
                margin-top: 0.08rem;
            }
            .bank-detail{
                float: left;
                .bank-name{
                    font-size: 0.16rem;
                    color: #000117;
                    display: block;
                    i{
                        font-style: normal;
                        margin:0 0.1rem;
                    }
                }
                
                p{
                    font-size: 0.14rem;
                    color: #909090;
                }
            }
            .add-card{
                font-size: 0.16rem;
                color: #000117;
                height: 0.3rem;
                line-height: 0.3rem;
                display: block;
                float: left;
                margin-top: 0.1rem;
            }
            .correct{
                width: 0.2rem;
                height: 0.2rem;
                display: block;
                float: right;
                background: url(../../../static/images/icon_selected@2x.png) no-repeat;
                background-size: 100% 100%;
                margin-top: 0.12rem;
                display: none;
            }
            &.active{
                .correct{
                    display: block;
                }
            }
        }
    }
}
.showBank{
    bottom: 0;
}

.repay_detail{
    position: absolute;
    left: 0;
    top: 0.55rem;
    z-index:1;
    width: 100%;
    .repay-btn2,.repay-btn5{
        margin-top:0.48rem;
    }
    .repay-btn3,.repay-btn2{
        width: 80%;
        height: 0.5rem;
        font-size:0.2rem;
        color: #fff;
        display: block;
        background: #CCCCCC;
        border-radius: 5px;
        margin:0.48rem auto 0;
        border: 0;
        outline: none;
    }
    .repay-btn2{
        background-color: #FF7F26;
    }
    .repay-hk{
        padding:0.2rem 0;
        text-align: center;
        background-color: #fff;
        .hk-ms{
            color: #222336;
            font-size:0.16rem;
            height: 0.22rem;
            line-height: 0.22rem;
        }
        .hk-money{
            color: #000117;
            font-size: 0.36rem;
            height: 0.5rem;
            line-height: 0.5rem;
        }
    }
    .hk-list{
        border-top: 1px solid #eee;
        background-color: #fff;
        margin-bottom: 0.1rem;
        &>div{
            position: relative;
            height: 0.5rem;
            line-height: 0.5rem;
            overflow: hidden;
            padding: 0 0.2rem;
            border-bottom: 1px solid #eee;
            &:last-child{
                border-bottom: 0;
            }
            span{
                float: left;
                color: #909090;
                font-size: 0.16rem;
            }
            i{
                float: right;
                color: #000117;
                font-style: normal;
                font-size: 0.16rem;
            }
            h5{
                float: left;
                font-weight: normal;
                color: #000117;
                margin-left:0.2rem;
                font-size: 0.16rem;
            }
            input[type='number']{
                height: 0.5rem;
                color: #909090;
                font-size: 0.16rem;
                margin-left: 0.2rem;
                outline: none;
                border: none;
            }
            em{
                position: absolute;
                right: 0.2rem;
                top: 0;
                color: #909090;
                font-size:0.16rem;
                font-style: normal;
                &.getcode{
                    color: #000117;
                }
                &.orange{
                    color: #FF7F26;
                }
            }
        }
    }
}
.protocol{
    text-align: center;
    color: #9b9b9b;
    margin-top: 0.3rem;
    a{
        font-size: 0.12rem;
        color: #4A4A4A;
        text-decoration: none;
    }
    .radio-chk{
        position: relative;
        display: inline-block;
        padding-left:0.14rem;
        &:after{
            content: "";
            position: absolute;
            left: 0;
            top: 0.04rem;
            width: 0.12rem;
            height: 0.12rem;
            background-image: url(../../../static/images/icon_round_unchecked@2x.png);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }
        &.active{
            &:after{
                background-image: url(../../../static/images/icon_round@2x.png);
            }
        }
    }
}